.fDiv{
   
    height: 50px;
    margin-right: auto;
    margin-left:auto;
}
.buttonNum{
    float: left;
 height: 30px;
 width: 30px;
 font-size:25px;
 padding: 2.5px;
 border:2px solid grey;
 border-top-left-radius: 2px;
 border-bottom-left-radius: 2px;
}
.buttonPlus{
    text-align: center;
    height: 15px;
    width: 15px;
    padding: 1,5px;
    border:2px solid grey;
    border-top-right-radius: 2px;
}
.buttonMinus{
    height: 15px;
    width: 15px;
    padding: 1,5px;
    border:2px solid grey;
    border-bottom-right-radius: 2px;
}

.action{
    float: left;
}